<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  <div id="mainContent">
    {% include navbar.html %}
  </div>

  <!---
    teamTAPE Banner
  --->
  <div id="teamBanner">
    <img src="media/teamtape_logo.png" />
    <div>Hello!</div>
  </div>


  <!---
    BoxItUp Banner
  --->
  <div id="projectBanner_test">
  </div>

  <!---
    BoxItUp StoreLine Banner
  --->
  <div id="marketLinks">
      <a href="">
        <img src="media/google-play-badge.png" class="responsive"></a>
      </a>
      <a href="h">
        <img src="media/google-play-badge.png" class="responsive"></a>
      </a>
  </div>

  <!---
    Youtube
  --->
  <div id="youtubeBanner">
    <video tabindex="-1"  style="width: 260px; height: 462px; left: 0px; top: 0px;" src="blob:https://www.youtube.com/embed/nzMiy_1WxWY?autoplay=1&mute=1"></video>
  </div>

  <!---
    footer
  --->
  <div id="mainContent">
    {%- include footer.html -%}
  </div>

</body>

</html>
