<!doctype html>
<html amp lang="en">

{%- include head.html -%}

<body>
    {% include navbar.html %}



    <div class="logo">
        <div class="logo-image-container">
            <amp-img src="/Assets/Web_TT_Logo.png" width="285" height="160" layout="responsive"></amp-img>
        </div>
        <div class="logo-contents-container">
            <p>Hello! We are team TAPE, an indie studio founded in 2020 by the developer of Tape it up!</p>
        </div>

    </div>

    <div class="biu-image-container">
    </div>


    <div class="store-links">
        <a href="https://itunes.apple.com/app/id1548617461">
            <amp-img src="/Assets/Web_Btn_Appstore.png" width="412" height="123" layout="responsive"></amp-img>
        </a>
        <a href="http://play.google.com/store/apps/details?id=com.teamtape.boxitup">
            <amp-img src="/Assets/Web_Btn_Googleplay.png" width="412" height="123" layout="responsive"></amp-img>
        </a>
    </div>

    <div class="highlight">
        <div>
            <amp-youtube data-videoid="Q1vA24bnPf4" width="1025" height="568" autoplay class="youtube-video"></amp-youtube>
        </div>
    </div>

    <div class="social-links">
        <a href="">
            <a href="https://www.facebook.com/Box-It-Up-Inc-102032345244797">
            <amp-img src="/Assets/Web_Btn_Facebook.png" width="38" height="38"></amp-img>
        </a>
        <a href="https://www.youtube.com/channel/UC7COmkHb7tYsxFrS9A_6lcg">
            <amp-img src="/Assets/Web_Btn_Youtube.png" width="38" height="38"></amp-img>
        </a>
        <a href="">
            <amp-img src="/Assets/Web_Btn_Tweeter.png" width="38" height="38"></amp-img>
        </a>
    </div>

    <div class="footer">
        {%- include footer.html -%}
    </div>


</body>

</html>
