<!doctype html>
<html amp lang="en">

{%- include head.html -%}

<body>
    {% include navbar.html %}
    <div class="presskit">
        <div class="presskit-image-container">
            <amp-img src="/Assets/prepare.PNG" width="860" height="470" layout="responsive"></amp-img>
        </div>
        <div class="presskit-contents-container">
            <p>We're preparing, so please wait a bit!</p>
        </div>
    </div>

    <div class="social-links">
        <a href="">
            <amp-img src="/Assets/Web_Btn_Facebook.png" width="38" height="38"></amp-img>
        </a>
        <a href="https://www.youtube.com/channel/UC7COmkHb7tYsxFrS9A_6lcg">
            <amp-img src="/Assets/Web_Btn_Youtube.png" width="38" height="38"></amp-img>
        </a>
        <a href="">
            <amp-img src="/Assets/Web_Btn_Tweeter.png" width="38" height="38"></amp-img>
        </a>
    </div>

    <div class="footer">
        {%- include footer.html -%}
    </div>

</body>

</html>
