<!doctype html>
<html amp lang="en">

{%- include head.html -%}

<body>
    {% include navbar.html %}
    <div class="presskit">
        
        <div class="presskit-title-container">
            <p>Box It Up! Inc.</p>
        </div>
        
        <div class="highlight">
            <div class="presskit-subtitle-container">           
                <p>FACTSHEET</p>
            </div>
        </div>
        
        <div class="presskit-contents-container">
            <p>
                <a style="font-weight: 700; color: #ffc3ce;">Game Name:</a></br>Box It Up! Inc.</br>
                <a style="font-weight: 700; color: #ffc3ce;">Developer:</a></br>team TAPE Inc.</br>
                <a style="font-weight: 700; color: #ffc3ce;">Release Date:</a></br>March 2021</br>
                <a style="font-weight: 700; color: #ffc3ce;">Platforms:</a></br>iOS, Android</br>
                <a style="font-weight: 700; color: #ffc3ce;">Website:</a></br>https://team-tape.com</br>
                <a style="font-weight: 700; color: #ffc3ce;">Languages:</a></br>English, French, German, Italian, Japanese, Korean, Portuguese, Russian, Simplified Chinese, Spanish, Traditional Chinese
            </p>
        </div>

        <div class="highlight">
            <div class="presskit-subtitle-container">
                <p>FEATURES</p>
            </div>
        </div>
        <div class="presskit-contents-container">
            <p>- A New Vertical Scrolling Action-Puzzle</br>- Simple & Unique Game Mechanic</br>- Sweet & Catchy Pixel Art</br>- Accessibility Supports for Color Blindness</br>- No Internet Connection Required to Play</p>
        </div>

        <div class="highlight">
            <div class="presskit-subtitle-container">
                <p>TEAM INTRODUCTION</p>
            </div>
        </div>
        <div class="presskit-contents-container">
            <p>team TAPE is a Seoul-Singapore-based indie studio founded in 2020 by the developers of Tape it Up!, which is a successful casual action game downloaded by more than 3.5 million. They decided to be an independent studio to continue making more unique games for universal audiences, and to expand the sweet pixelated universe to the world.</p>
        </div>

        <div class="highlight">
            <div class="presskit-subtitle-container">
                <p>CREDIT</p>
            </div>
        </div>
        <div class="presskit-contents-container">
            <p>Game Design / Art / Music: Eunil</br>Game Programming: Hyeon</p>
        </div>

        <div class="highlight">
            <div class="presskit-subtitle-container">
                <p>CONTACT</p>
            </div>
        </div>
        <div class="presskit-contents-container">
            <p>contact@team-tape.com</p>
        </div>

        <div class="highlight">
            <div class="presskit-subtitle-container">
                <p>ASSET</p>
            </div>
        </div>    
        <div class="presskit-contents-container">
            <a href="/Assets/boxitup_asset.zip">
                <span style="color:white">boxitup_asset.zip</span>
            </a>
        </div>
    </div>

    <div class="social-links">
        <a href="">
            <amp-img src="/Assets/Web_Btn_Facebook.png" width="38" height="38"></amp-img>
        </a>
        <a href="https://www.youtube.com/channel/UC7COmkHb7tYsxFrS9A_6lcg">
            <amp-img src="/Assets/Web_Btn_Youtube.png" width="38" height="38"></amp-img>
        </a>
        
    </div>

    <div class="footer">
        {%- include footer.html -%}
    </div>

</body>

</html>
