<!doctype html>
<html amp lang="en">

{%- include head.html -%}

<body>
    {% include navbar.html %}
    <div class="presskit">
        <div class="presskit-title-container">
            <p>Box It Up! Inc.</p>
        </div>
        <div class="presskit-subtitle-container">
            <p>FACTSHEET</p>
        </div>
        <div class="presskit-contents-container">
            <p>Game Name: Box It Up! Inc.</br>Developer: team TAPE Inc.</br>Release Date: March 2021</br>Platforms: iOS, Android</br>Website: https://team-tape.com</br>Languages: English, French, German, Italian, Japanese, Korean, Portuguese, Russian, Simplified Chinese, Spanish, Traditional Chinese</p>
        </div>
    </div>

    <div class="social-links">
        <a href="">
            <amp-img src="/Assets/Web_Btn_Facebook.png" width="38" height="38"></amp-img>
        </a>
        <a href="https://www.youtube.com/channel/UC7COmkHb7tYsxFrS9A_6lcg">
            <amp-img src="/Assets/Web_Btn_Youtube.png" width="38" height="38"></amp-img>
        </a>
        <a href="">
            <amp-img src="/Assets/Web_Btn_Tweeter.png" width="38" height="38"></amp-img>
        </a>
    </div>

    <div class="footer">
        {%- include footer.html -%}
    </div>

</body>

</html>
